## [Visual Studio]
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

## [Build Results]
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
dist/
publish/

## [Roslyn / Analyzers]
*.ruleset

## [User-specific files]
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## [Visual Studio Code]
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## [JetBrains Rider]
.idea/
*.sln.iml

## [Databases & Local App Data]
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
fophersync.db
appsettings.local.json

## [OS Generated]
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
